extends layout.pug

block entete
    h1 Welcome in your MonkeyManager3000

block content
    h2
        .row
            .col-md-6
                a(class='button' href='/Find_Monkey') Monkeys

    h2
        .row
            .col-md-6
                a(class='enclos' href='/Find_Enclos') Enclos