extends layout.pug

block entete
    h1 All Monkeys :
    ul
        each Monkey in Monk
            h2
                - var url = '/Find_Monkey/' + Monkey.id
                a(class='button' href= url) #{Monkey.Name}
               

block content
    h2
        .row
            .col-md-6
                a(href='/MonkeyCreation') Add a new Monkey
    h2
        .row
            .col-md-6
                 a(href='/') Return